bin
.settings
.compile
atlassian-ide-plugin.xml
emacs
prj.el
Project.ede
.tetette
.emacs.desktop
.externalToolBuilders
*.orig
*.*~
.githookscommit-msg
.classpath
.project
.jde
.jmm.log
.idea
*.xml.next
*.xml.releaseBackup
*.xml.tag
**/**/target
*.iml
classpath
.factorypath
build.properties
*.versionsBackup
*_LOCAL_*
*_REMOTE_*
*_BASE_*
*_BACKUP_*
release.properties
out
*coverage.out
generated-sources